<app-page-title text="AirTable Info"></app-page-title>
<div class="h-[250px] w-full flex justify-center flex-col items-center" *ngIf="!userData?.airtable">
    <h3>Please connect Airtable first. To connect Airtable go to Profile and click on Connect</h3>
</div>

<div class="h-[250px] w-full flex justify-center flex-col items-center"
    *ngIf="userData?.github?.dataSync ==='PENDING' || loading">
    <mat-progress-spinner mode="indeterminate" diameter="40" color="blue" class="mb-4" strokeWidth="5">
    </mat-progress-spinner>
    <h3>Airtable data is Syncing. Please wait until syncing finish.</h3>
</div>

<div class="!py-5" *ngIf="userData.airtable && isDataFetched">
    <div class="w-full flex justify-end items-center !py-0 text-primary">
        <button (click)="openAirtableLogin()" mat-flat-button [ngClass]="{
      '!bg-primary !text-light': !scrappingLoading,
      'bg-gray-400 text-white pointer-events-none !cursor-not-allowed': scrappingLoading
    }" [disabled]="scrappingLoading">
            Login AirTable
        </button>
    </div>
</div>