<app-page-title text="Repos Info"></app-page-title>

<div class="h-[250px] w-full flex justify-center flex-col items-center" *ngIf="!userData?.github">
    <h3>Please connect github first. To connect github go to Profile and click on github</h3>
</div>

<div class="h-[250px] w-full flex justify-center flex-col items-center"
    *ngIf="userData?.github?.dataSync ==='PENDING' || loading">
    <mat-progress-spinner mode="indeterminate" diameter="40" color="blue" class="mb-4" strokeWidth="5">
    </mat-progress-spinner>
    <h3>Github data is Syncing. Please wait until syncing finish.</h3>
</div>

<div class="!py-5" *ngIf="userData.github && isDataFetched">


    <div class="flex justify-start items-center gap-4 flex-wrap ">
        <mat-form-field appearance="fill" class="grow basis-[220px]">
            <mat-label>Active Integration</mat-label>
            <mat-select [formControl]="activeIntegration">
                <mat-option *ngFor="let integration of integrations" [value]="integration">
                    {{ integration }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="grow basis-[200px]">
            <mat-label>Collection</mat-label>
            <mat-select [formControl]="entityControl" (selectionChange)="onEntityChange($event)">
                <mat-option *ngFor="let collection of collections" [value]="collection">
                    {{ collection }}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <mat-form-field appearance="fill" class="search-field grow basis-[200px]">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Enter search term" (keyup)="onSearchChange($event)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <div class="relative h-full" [class.opacity-60]="isLoading" [class.pointer-events-none]="isLoading">
        <app-grid-loader *ngIf="isLoading"></app-grid-loader>
        <ag-grid-angular style="width: 100% !important;" domLayout="autoHeight" paginationAutoPageSize="true"
            [suppressCellFocus]="true" [rowData]="rowData" [columnDefs]="colDefs" [quickFilterText]="searchText"
            [animateRows]="true" />
        <div *ngIf="totalPages > 0" class="w-full flex !items-center justify-between  bg-white !px-3 !py-2">
            <!-- Page size dropdown -->
            <div class="flex items-center space-x-2">
                <span class="text-gray-500">Rows per page:</span>
                <select [value]="pageSize" (change)="onPageSizeChange($event)" class="border rounded px-2 py-1 text-sm">
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="75">75</option>
                    <option value="100">100</option>

                </select>

            </div>

            <span class="!text-xs xl:!text-sm text-gray-500">Total Records : <span
                    class="text-gray-600 font-semibold">{{totalRecords}}</span></span>
            <!-- Page navigation -->
            <div class="flex items-center space-x-2">
                <!-- Previous button -->
                <button (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1"
                    class="px-2 py-1 border rounded disabled:opacity-30">
                    < </button>

                        <!-- Page numbers -->
                        <div class="flex space-x-1">
                            <!-- Always show first page -->
                            <button (click)="goToPage(1)" [class.bg-blue-500]="currentPage === 1"
                                [class.text-white]="currentPage === 1"
                                class="w-8 h-8 rounded border flex items-center justify-center">
                                1
                            </button>

                            <!-- Show ellipsis if needed -->
                            <span *ngIf="currentPage > 3" class="px-2">...</span>

                            <!-- Dynamic page numbers -->
                            <ng-container *ngFor="let page of getVisiblePages()">
                                <button *ngIf="page > 1 && page < totalPages" (click)="goToPage(page)"
                                    [class.bg-primary]="currentPage === page" [class.text-white]="currentPage === page"
                                    class="w-8 h-8 rounded border flex items-center justify-center transition-all ease-in-out duration-500 hover:bg-slate-50 ">
                                    {{ page }}
                                </button>
                            </ng-container>

                            <!-- Show ellipsis if needed -->
                            <span *ngIf="currentPage < totalPages - 2" class="px-2">...</span>

                            <!-- Always show last page if different from first -->
                            <button *ngIf="totalPages > 1" (click)="goToPage(totalPages)"
                                [class.bg-blue-500]="currentPage === totalPages"
                                [class.text-white]="currentPage === totalPages"
                                class="w-8 h-8 rounded border flex items-center justify-center transition-all ease-in-out duration-500 hover:bg-slate-50">
                                {{ totalPages }}
                            </button>
                        </div>

                        <!-- Next button -->
                        <button (click)="goToPage(currentPage + 1)" [disabled]="currentPage === totalPages"
                            class=" px-2 py-1 border rounded disabled:opacity-30">
                            >
                        </button>
            </div>
        </div>
    </div>

</div>