@import "tailwindcss";

@theme {
  --color-light: rgb(240, 240, 240);
}

html,
body {
  width: 100vw;
  overflow-x: hidden;
}
body {
  margin: 0;
  background-color: var(--color-light);
}

.mdc-notched-outline__notch {
  border-style: none;
}

.card_shadow {
  box-shadow: 0px 0px 5px 0px rgb(231, 231, 231) !important;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}
