<app-page-title text="Dashboard"></app-page-title>
<div class="flex flex-wrap items-stretch justify-start gap-5 w-full ">
    <app-dashboard-cards title="Organizations" [value]="userData?.github?.organizations || 0"
        bgClass="from-sky-800  to-blue-700" />
    <app-dashboard-cards title="Public Repos" [value]="userData?.github?.public_repos || 0"
        bgClass="from-primary/80 to-blue-700" />
    <app-dashboard-cards title="Private Repose" [value]="userData?.github?.private_repos || 0"
        bgClass="from-blue-700 to-blue-800" />
    <app-dashboard-cards title="Followers" [value]="userData?.github?.followers || 0"
        bgClass="from-indigo-700  to-indigo-800" />
    <app-dashboard-cards title="Following" [value]="userData?.github?.following || 0"
        bgClass="from-sky-700  to-sky-800" />

</div>